.section02 {
    background: url(../images/town-low-opacity.jpg) no-repeat center top;
    background-size: 100%;
    max-height: 100vh;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(33, 1fr);
}

// LEFT SIDE -----------------------------------------

.sec2-left {
    grid-column: 4 / 11;
    grid-row: 7 / 19;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

p {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.6px;
}

// RIGHT SIDE IMAGES --------------------------------

.img1 {
    grid-column: 12 / 15;
    grid-row: 4 / 17;
}

.img2 {
    grid-column: 13 / 15;
    grid-row: 13 / 19;
}

// BOTTOM ICONS ------------------------------------
.section03 {
    grid-column: 1 / 21;
    grid-row: 27 / 34;
    background: $secondary-color;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}