.section04 {
    background: url(../images/block-house.jpg) no-repeat center top;
    background-size: 100%;
    min-height: 80vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(33, 1fr);
}


.card1 {
    grid-row: 12 / 29;
    grid-column: 5 / 11;
}